margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
 }

body {
    background: linear-gradient(to right, #0f0e0e, #0e0e0e);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .container {
    width: 80vw;
    max-width: 80%;
    background-color: beige;
    height: 70vh;
    box-shadow: 0 0 5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
 }

 .score {
    font-size: large;
    font-weight: bold;
 }
 
 #user-score {
    color: #0f0e0e;
    
 }
 
 #total-score {
    color: #0a0a09
 }

 .btn {
    font-size: large;
    font-weight: bold;
    box-shadow: 0 6px 12px -2px rgba(#770a0c, .15);
    background: #ee1414;
    border-radius: 4px;
    padding: 10px;
    color: beige;
    margin: 6px;
    cursor: pointer;
 }
